<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    <!-- Customs CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

    {% if title %}
    <title>Blog - {{ title}}</title>
    {% else %}
    <title>Blog</title>
    {% endif %}
</head>

<body>
    <header>{% include 'navbar.html' %}</header>
    <main class="container my-4">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, msg in messages %}
        <div class="alert alert-{{ category }}" role="alert">{{ msg }}</div>
        {% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock
        content %}
    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>